@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.editor-div{
    margin: 20px;
}


.logo-container{
    max-height: 100px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo-container p{
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
}

.logo-container img{
    /* max-height: 90%; */
    max-width: 100px;
    
}

.editor-container{
    border: 15px solid #83191a;
    border-bottom: none;
    min-height: 300px;
    cursor: text;
    background-color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    padding: 15px;
}

.editor-buttons-top{
    padding: 10px;   
    margin-bottom: 10px;
    display: flex;
    /* justify-content: space-between; */
}
.editor-buttons-bottom{
    padding: 10px;   
    margin-top: 10px;
    display: flex;
    /* justify-content: space-between; */
}

.button{
    filter: invert(1);
    background-color: transparent;
    border: 3px solid #000000;
    max-width: 55px;
    max-height: 55px;
    transition: all .3s;
}

button:active {
    filter: invert(0);
    border: none;
    background-color: #ffffff;
    transform: scale(.90);
}

button:hover {
    cursor: pointer;
    transform: scale(1.08);
}

.tooltip {
    font-family: 'Press Start 2P', cursive !important;
    font-size: 11px !important;
}

.char-word-counter{
    max-height: 50px;
    background-color: #83191a;
}

.char-word-counter p{
    margin: 0;
    padding-top: 5px;
    padding-left: 15px;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    font-size: 16px;
}

.loading-anim{
    animation: rotation 3s infinite linear;

}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }