@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.editor-div{
    margin: 20px;
}

.title {
    padding: 20px 40px;
    background: #A32021;
    border: none;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
  }


  .title:after, .title:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #fff;
    transition: transform 0.2s;
  }
  .title:after {
    transform: translate(3px, 3px);
  }
  .title:before {
    transform: translate(-3px, -3px);
  }
  .title:hover:after, .title:hover:before {
    transform: translate(0);
  }

.logo-container{
    max-height: 100px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo-container p{
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
}


.logo-container img{
    /* max-height: 90%; */
    max-width: 100px;
    
}

@media only screen and (max-width: 600px) {
    .logo-container p{
        font-size: 15px;
    }

    .logo-container img{
        display: none;
    }
}

.editor-container{
    border: 15px solid #a32122;
    border-top: none;
    border-bottom: none;
    min-height: 300px;
    max-height: 300px;
    cursor: text;
    background-color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    overflow-y: auto;
}

.editor-buttons-top{
    padding: 10px;   
    margin-bottom: 10px;
    display: flex;
    /* justify-content: space-between; */
}
.editor-buttons-bottom{
    padding: 10px;   
    margin-top: 10px;
    display: flex;
    /* justify-content: space-between; */
}

.main-button{
    filter: invert(1);
    background-color :#5BDEDD;
    border: 3px solid #000000;
    max-width: 55px;
    max-height: 55px;
    transition: all .3s;
}

.main-button:active {
    filter: invert(0);
    border: none;
    background-color: #ffffff;
    transform: scale(.90);
}

.main-button:hover {
    cursor: pointer;
    transform: scale(1.08);
}

.tooltip {
    font-family: 'Press Start 2P', cursive !important;
    font-size: 11px !important;
}

.char-word-counter{
    max-height: 50px;
    /* background-color: #83191a; */
    background-color :#a32122 ;
}

.char-word-counter p{
    margin: 0;
    padding-top: 5px;
    padding-left: 15px;
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    font-size: 16px;
}

.loading-anim{
    animation: rotation 3s infinite linear;

}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.style-buttons-container{
    max-height: 50px;
    /* background-color: #83191a; */
    background-color :#a32122 ;
}

.style-button {
    /* filter: invert(1); */
    /* background-color :#5BDEDD; */
    border: 2px solid #000000;
    max-width: 33px;
    max-height: 33px;
    transition: all .3s;
    margin: 7px;
}

.style-button:active {
    filter: invert(1);
    /* background-color: #ffffff; */
    transform: scale(.90);
}

.style-button:hover {
    cursor: pointer;
    transform: scale(1.08);
}

.selected {
    transition: all .3s;
    filter: invert(1);
}

.not-selected {
    transition: all .3s;
    filter: none;
}
